.ReviewPosting {
  padding: 2rem;
  margin: 2rem;
}

.ReviewForm {
  display: flex;
  flex-direction: column;
}

.ReviewPosts {
  margin: 1rem;
}

.ReviewId {
  font-size: small;
  color: #868e96;
}

.Review_Heart {
  margin-left: auto;
}

.ReviewDetailBtn {
  justify-content: flex-end;
  display: flex;
  padding: 2rem;
}